body {
    background-color: #46404000;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-image: url('../../assets/images/front-view-woman-holding-paper-heart-with-heartbeat.jpg');
    width: 100%;
    height: auto;  
}