<body>
  <header>
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top mask-custom shadow-0">
  <div class="container">
    <a class="navbar-brand" href="#!"><span style="color: #d1020285;">DonateBLOOD</span><br><span style="color: #d1020285;"></span></a>
    <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
      data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a routerLink="">Home</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="BloodAvailability">Blood availability</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="DonationCampaigns">Donation campaigns</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="News">News</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="Howtodonate">How to donate</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="Howtoorganize">How to organize</a>
        </li>

      </ul>
      <ul class="navbar-nav d-flex flex-row">
        <li class="nav-item" routerLinkActive="active">
          <button type="button" class="btn btn-outline-danger"><a style=" color:black;" routerLink="Login" >LOGIN</a></button>
          
        </li>
      </ul>

      
    </div>
  </div>
</nav>
<!-- Navbar -->

<!--Section: Design Block-->
<section>

    <div class="header">
      <ul class="typed">
        <li><span>DONATE-BLOOD</span></li>
        <li><span>SAVE-LIVES</span></li>
      </ul>
      <ul >
        <div  style="font-size: 40px; text-align: center; font-weight: 500;" >You Deserve To Be <br>Appreciated And Loved<br> If You Are A Blood Donor. <br>You Are An Unsung Hero Of The Nation</div>
      </ul>
      
      

    </div>
<!--
<div class="text-box">

      <div class="btn-container">

        <a href="#" class="btn btn-white btn-animated" style="font-size: 15pt;">DONATE NOW!.</a>
        <br><br>
        <a href="#" class="btn btn-white btn-animated" style="font-size: 15pt;">dO YOU WANT TO ORGANIZE A CAMPAIGN!.</a>
      </div>
    </div>
-->
<div>
  <button type="button" class="btn btn-outline-danger">DONATE NOW!.</button>
  <br><br>
  <button type="button" class="btn btn-outline-danger">dO YOU WANT TO ORGANIZE A CAMPAIGN!.</button>
</div>




</section>

<!--Section: Design Block-->
</header>
 
</body>

